.footer__link {
  color: #FFFFFF;
  line-height: 112%;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  cursor: url(../../../images/Pointer.svg) 4 12, auto;
}

.footer__link:hover {
  opacity: 0.8;
}

@media (max-width: 690px) {
  .footer__link {
  font-size: 24px;
  line-height: 100%;

  }
}
