.place__img {
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  
}


@media (max-width: 1025px) {
  .place__img {
  max-width: 440px;

  }
}


@media (max-width: 850px) {
  .place__img {
  max-width: 340px;

  }
}

@media (max-width: 650px) {
  .place__img {
  max-width: 280px;

  }
}


@media (max-width: 450px) {
  .place__img {
  max-width: 320px;
  justify-self: center;
  }
}
