.place__link {
  margin-top: 12px;
  color: #FFFFFF;
  line-height: 122%;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
  cursor: url(../../../images/Pointer.svg) 4 12, auto;
}

.place__link:hover {
  opacity: 0.8;
}
