.cover__background {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 32px;
  width: 100%;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  cursor: url(../../../images/Pointer.svg) 4 12, auto;
}


.cover__background::before {
 content: "";
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: #2A2C2F;
 opacity: 0.3;
}

.cover__background:hover {
  opacity: 0.8;
}

@media (max-width: 1025px) {
  .cover__background {
  min-height: 640px;

  }
}

@media (max-width: 769px) {
  .cover__background {
  min-height: 480px;

  }
}

@media (max-width: 321px) {
  .cover__background {
  min-height: 200px;

  }
}
